  <div class="nav-sp">
  <a href="#" class="vm sacra-logo-sp">sacra</a>
  <ul class="nav">
      <li>
          <a href="#" class="vm nav-home">
              <span class="f">H</span>
              <span class="s">O</span>
              <span class="f">M</span>
              <span class="s">E</span>
          </a>
      </li>
      <li>
          <a href="#" class="vm nav-scissorscase">
              <span class="f">S</span>
              <span class="s">C</span>
              <span class="f">I</span>
              <span class="s">S</span>
              <span class="f">S</span>
              <span class="s">O</span>
              <span class="f">R</span>
              <span class="s">S</span>
              <span class="f">C</span>
              <span class="s">A</span>
              <span class="f">S</span>
              <span class="s">E</span>
          </a>
      </li>
      <li>
          <a href="#" class="vm nav-floristcase">
              <span class="f">F</span>
              <span class="s">L</span>
              <span class="f">O</span>
              <span class="s">R</span>
              <span class="f">I</span>
              <span class="s">S</span>
              <span class="f">T</span>
              <span class="s">C</span>
              <span class="f">A</span>
              <span class="s">S</span>
              <span class="f">E</span>
          </a>
      </li>
      <li>
          <a href="#" class="vm nav-about">
              <span class="f">A</span>
              <span class="s">B</span>
              <span class="f">O</span>
              <span class="s">U</span>
              <span class="f">T</span>
          </a>
      </li>
      <li>
          <a href="#" class="vm nav-shop">
              <span class="f">S</span>
              <span class="s">H</span>
              <span class="f">O</span>
              <span class="s">P</span>
              <span class="f">L</span>
              <span class="s">I</span>
              <span class="f">S</span>
              <span class="f">T</span>
          </a>
      </li>
      <li>
          <a href="#" class="vm nav-support is-current">
              <span class="f">S</span>
              <span class="s">U</span>
              <span class="f">P</span>
              <span class="s">P</span>
              <span class="f">O</span>
              <span class="s">R</span>
              <span class="f">T</span>
          </a>
      </li>
      <li>
          <a href="#" class="nav-online is-current" target="_blank">
              <span class="f">O</span>
              <span class="s">N</span>
              <span class="f">L</span>
              <span class="s">I</span>
              <span class="f">N</span>
              <span class="s">E</span>
              <span class="f">S</span>
              <span class="s">T</span>
              <span class="f">O</span>
              <span class="s">R</span>
              <span class="f">E</span>
          </a>
      </li>
  </ul>
  <!-- .nav -->
  <ul class="nav-sns-sp">
      <li>
          <a href="#" class="instagram" target="_blank">
              <span class="icon-instagram"></span>
          </a>
      </li>
      <li>
          <a href="#" class="facebook" target="_blank">
              <span class="icon-facebook"></span>
          </a>
      </li>
  </ul>
  <ul class="nav-sublink-sp">
      <li>
          <a class="vm" href="#">COMPANY</a>
      </li>
      <li>
          <a class="vm" href="#">PRIVACY POLICY</a>
      </li>
      <li>
          <a class="vm" href="#">CONTACT</a>
      </li>
      <li class="copyright">Copyright sacra All rights reserved.</li>
  </ul>
  <ul class="bg-back">
      <li></li>
      <li></li>
      <li></li>
  </ul>
  </div>
  <!-- / .nav-sp -->
  <div class="burger-nav burger-main">
    <div class="icon-menu"></div>
  </div>
  <!-- ×ボタン -->
  <div class="icon-close">
    <div class="icon-close1"></div>
    <div class="icon-close2"></div>
  </div>
  <!-- 棒三本 -->
  <div class="burger-nav index-burger">
    <div class="icon-menu"></div>
  </div>
  <script src="nav.js"></script>
